{% extends 'layouts.html' %}
{% block title %}

<title>Add Students</title>

{% endblock title %}
{% block content %}
<div class="card">
    <form action="" class="form" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="firstname">FirstName</label>
            <input type="text" class="form-control" id="firstname" name="firstname">
        </div>
         <div class="form-group">
            <label for="lastname">FirstName</label>
            <input type="text" class="form-control" id="lastname" name="lastname">
        </div>
         <div class="form-group">
            <label for="batch">Batch</label>
            <input type="text" class="form-control" id="batch" name="batch">
        </div>
         <div class="form-group">
            <label for="image_url">FirstName</label>
            <input type="text" class="form-control" id="image_url" name="image_url">
        </div>
         <div class="form-group">
             <select name="category" class="form-control" id="category">
                 <option>Bsc (Hons) Computing</option>
                 <option>Bsc (Hons) Ethical Hacking</option>
             </select>
        </div>
        <button type="submit">Submit</button>

    </form>
</div>
{% endblock content %}


